

<div class="container">
  <div class="row">
    Seguimiento de tu pedido
  </div>
  <div class="row mb-4">
    <div id="map"></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="paso" >
        <h2> Paso actual </h2>
        <hr>
        <p> {{ actual.fecha }} - {{ actual.hora }} </p>
        <span> {{ actual.status }} </span>
      </div>
    </div>
    <div class="col">
      <div class="movimientos mb-3">
        <h2> Estatus </h2>
        <div class="paso" *ngFor="let paso of pasoActual">
          <hr>
          <p class="hora"> {{ paso.fecha }} - {{ paso.hora }} </p>
          <span> {{ paso.status }} </span>
        </div>
      </div>
    </div>
    <div class="col">
      <h3> Informacion de envio </h3>
      <div class="row">
        <div class="col">
          Repartidor: Juan Perez
        </div>
        <div class="col">
          Metodo de envio:
          <span class="material-icons-outlined">
            two_wheeler
          </span> Motocicleta
        </div>
        <div class="col">
          <p> Producto: Pizza grande 4 quesos </p>
        </div>
      </div>
    </div>
  </div>
</div>

